<h1>Hello World</h1>
<div class="col-sm-12 d-sm-none">
    <img src={{article.post.image}} style="object-fit: cover;" class="img-fluid" alt="Responsive image">
</div>
<section class="offset-lg-2 col-lg-7 offset-xl-2 col-xl-7">
    <h2>{{article.post.title}}</h2>
    <h6>{{article.post.standfirst}}</h6>
    
</section>
